USE [master]
GO
CREATE DATABASE [Restaurantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Restaurantes.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Restaurantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Restaurantes_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurantes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Administradores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Telefono] [numeric](8, 0) NULL,
	[Cedula] [numeric](9, 0) NULL,
	[Contrasenna] [binary](32) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Administradores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Avenidas](
	[Nombre] [varchar](50) NOT NULL,
	[Ubicacion] [geometry] NULL,
 CONSTRAINT [PK_Avenidas] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [AvenidasXCuadras](
	[NombreAvenida] [varchar](50) NOT NULL,
	[IdDireccion] [int] NOT NULL,
 CONSTRAINT [PK_AvenidasXDirecciones] PRIMARY KEY CLUSTERED 
(
	[NombreAvenida] ASC,
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Bitacora](
	[Fecha] [datetime] NOT NULL,
	[Accion] [varchar](max) NOT NULL,
	[IdAdministrador] [int] NOT NULL,
	[IdRestaurante] [int] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Calles](
	[Nombre] [varchar](50) NOT NULL,
	[Ubicacion] [geometry] NULL,
 CONSTRAINT [PK_Calles] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CallesXCuadras](
	[NombreCalle] [varchar](50) NOT NULL,
	[IdDireccion] [int] NOT NULL,
 CONSTRAINT [PK_CallesXDirecciones] PRIMARY KEY CLUSTERED 
(
	[NombreCalle] ASC,
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Telefono] [numeric](8, 0) NULL,
	[Cedula] [numeric](9, 0) NULL,
	[Contrasenna] [binary](32) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cuadras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ubicacion] [geometry] NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ingredientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [money] NULL,
	[Nombre] [varchar](50) NULL,
	[Disponible] [bit] NOT NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ordenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MetodoPago] [varchar](50) NULL,
	[Descuento] [int] NOT NULL,
	[Total] [money] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Ordenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OrdenesXPlatillos](
	[IdOrden] [int] NOT NULL,
	[IdPlatillo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_OrdenesXPlatillos] PRIMARY KEY CLUSTERED 
(
	[IdOrden] ASC,
	[IdPlatillo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Platillos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdRestaurante] [int] NOT NULL,
	[Foto] [image] NULL,
 CONSTRAINT [PK_Platillos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PlatillosXIngredientes](
	[IdPlatillo] [int] NOT NULL,
	[IdIngrediente] [int] NOT NULL,
 CONSTRAINT [PK_PlatillosXIngredientes] PRIMARY KEY CLUSTERED 
(
	[IdPlatillo] ASC,
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Restaurantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Horario] [varchar](200) NOT NULL,
	[IdCategoria] [int] NULL,
	[IdDireccion] [int] NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RestaurantesXIngredientes](
	[IdRestaurante] [int] NOT NULL,
	[IdIngrediente] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_RestaurantesXIngredientes] PRIMARY KEY CLUSTERED 
(
	[IdRestaurante] ASC,
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [Administradores] ON 

INSERT [Administradores] ([Id], [Nombre], [Apellido], [Telefono], [Cedula], [Contrasenna], [Activo]) VALUES (1, N'Fer', N'Molina', CAST(60648464 AS Numeric(8, 0)), CAST(207360669 AS Numeric(9, 0)), 0x24AED63103D827A1EB6E64854F1B6CE527535BBE6C3F781F04F8971D836D44DA, 1)
SET IDENTITY_INSERT [Administradores] OFF
INSERT [Avenidas] ([Nombre], [Ubicacion]) VALUES (N'Avenida 1', 0x0000000001040500000000000000000000000000000000000000000000000000304000000000000000000000000000003040000000000000F03F0000000000000000000000000000F03F0000000000000000000000000000000001000000020000000001000000FFFFFFFF0000000003)
INSERT [Avenidas] ([Nombre], [Ubicacion]) VALUES (N'Avenida 2', 0x00000000010405000000000000000000000000000000000008400000000000003040000000000000084000000000000030400000000000001040000000000000000000000000000010400000000000000000000000000000084001000000020000000001000000FFFFFFFF0000000003)
INSERT [Avenidas] ([Nombre], [Ubicacion]) VALUES (N'Avenida 3', 0x00000000010405000000000000000000000000000000000018400000000000003040000000000000184000000000000030400000000000001C4000000000000000000000000000001C400000000000000000000000000000184001000000020000000001000000FFFFFFFF0000000003)
INSERT [Calles] ([Nombre], [Ubicacion]) VALUES (N'Calle 1', 0x0000000001040500000000000000000000000000000000000000000000000000F03F0000000000000000000000000000F03F0000000000003040000000000000000000000000000030400000000000000000000000000000000001000000020000000001000000FFFFFFFF0000000003)
INSERT [Calles] ([Nombre], [Ubicacion]) VALUES (N'Calle 2', 0x00000000010405000000000000000000084000000000000000000000000000001040000000000000000000000000000010400000000000003040000000000000084000000000000030400000000000000840000000000000000001000000020000000001000000FFFFFFFF0000000003)
INSERT [Calles] ([Nombre], [Ubicacion]) VALUES (N'Calle 3', 0x00000000010405000000000000000000184000000000000000000000000000001C4000000000000000000000000000001C400000000000003040000000000000184000000000000030400000000000001840000000000000000001000000020000000001000000FFFFFFFF0000000003)
SET IDENTITY_INSERT [Categorias] ON 

INSERT [Categorias] ([Id], [Nombre]) VALUES (1, N'Carnes')
INSERT [Categorias] ([Id], [Nombre]) VALUES (2, N'Mariscos')
INSERT [Categorias] ([Id], [Nombre]) VALUES (3, N'Italiano')
SET IDENTITY_INSERT [Categorias] OFF
SET IDENTITY_INSERT [Clientes] ON 

INSERT [Clientes] ([Id], [Nombre], [Apellido], [Telefono], [Cedula], [Contrasenna], [Activo]) VALUES (1, N'Joshua', N'Mata', CAST(84321256 AS Numeric(8, 0)), CAST(301450879 AS Numeric(9, 0)), 0x24AED63103D827A1EB6E64854F1B6CE527535BBE6C3F781F04F8971D836D44DA, 1)
SET IDENTITY_INSERT [Clientes] OFF
SET IDENTITY_INSERT [Cuadras] ON 

INSERT [Cuadras] ([Id], [Ubicacion]) VALUES (1, 0x00000000010405000000000000000000F03F000000000000F03F0000000000000840000000000000F03F00000000000008400000000000000840000000000000F03F0000000000000840000000000000F03F000000000000F03F01000000020000000001000000FFFFFFFF0000000003)
INSERT [Cuadras] ([Id], [Ubicacion]) VALUES (2, 0x000000000104050000000000000000001040000000000000F03F0000000000001840000000000000F03F00000000000018400000000000000840000000000000104000000000000008400000000000001040000000000000F03F01000000020000000001000000FFFFFFFF0000000003)
INSERT [Cuadras] ([Id], [Ubicacion]) VALUES (3, 0x000000000104050000000000000000001C40000000000000F03F0000000000002240000000000000F03F000000000000224000000000000008400000000000001C4000000000000008400000000000001C40000000000000F03F01000000020000000001000000FFFFFFFF0000000003)
SET IDENTITY_INSERT [Cuadras] OFF
SET IDENTITY_INSERT [Ingredientes] ON 

INSERT [Ingredientes] ([Id], [Precio], [Nombre], [Disponible]) VALUES (7, 800.0000, N'Papas al horno', 1)
INSERT [Ingredientes] ([Id], [Precio], [Nombre], [Disponible]) VALUES (8, 1000.0000, N'Papas Fritas', 1)
INSERT [Ingredientes] ([Id], [Precio], [Nombre], [Disponible]) VALUES (11, 600.0000, N'Camote hervido', 1)
SET IDENTITY_INSERT [Ingredientes] OFF
SET IDENTITY_INSERT [Platillos] ON 

INSERT [Platillos] ([Id], [Nombre], [Fecha], [IdRestaurante], [Foto]) VALUES (202, N'Platillo 1', CAST(N'2015-11-12' AS Date), 1, NULL)
INSERT [Platillos] ([Id], [Nombre], [Fecha], [IdRestaurante], [Foto]) VALUES (203, N'Platillo 2', CAST(N'2015-11-12' AS Date), 1, NULL)
INSERT [Platillos] ([Id], [Nombre], [Fecha], [IdRestaurante], [Foto]) VALUES (204, N'Platillo 3', CAST(N'2015-11-12' AS Date), 1, NULL)
SET IDENTITY_INSERT [Platillos] OFF
INSERT [PlatillosXIngredientes] ([IdPlatillo], [IdIngrediente]) VALUES (202, 24)
INSERT [PlatillosXIngredientes] ([IdPlatillo], [IdIngrediente]) VALUES (202, 28)
INSERT [PlatillosXIngredientes] ([IdPlatillo], [IdIngrediente]) VALUES (202, 29)
SET IDENTITY_INSERT [Restaurantes] ON 

INSERT [Restaurantes] ([Id], [Nombre], [Horario], [IdCategoria], [IdDireccion]) VALUES (1, N'R1', N'11am-12pm', 1, 1)
INSERT [Restaurantes] ([Id], [Nombre], [Horario], [IdCategoria], [IdDireccion]) VALUES (2, N'R2', N'11am-12pm', 2, 24)
INSERT [Restaurantes] ([Id], [Nombre], [Horario], [IdCategoria], [IdDireccion]) VALUES (3, N'R3', N'11am-12pm', 3, 19)
SET IDENTITY_INSERT [Restaurantes] OFF
INSERT [RestaurantesXIngredientes] ([IdRestaurante], [IdIngrediente], [Cantidad]) VALUES (1, 7, 100)
INSERT [RestaurantesXIngredientes] ([IdRestaurante], [IdIngrediente], [Cantidad]) VALUES (1, 8, 100)
INSERT [RestaurantesXIngredientes] ([IdRestaurante], [IdIngrediente], [Cantidad]) VALUES (1, 11, 100)
GO
ALTER TABLE [AvenidasXCuadras]  WITH CHECK ADD  CONSTRAINT [FK_AvenidasXDirecciones_Avenidas] FOREIGN KEY([NombreAvenida])
REFERENCES [Avenidas] ([Nombre])
GO
ALTER TABLE [AvenidasXCuadras] CHECK CONSTRAINT [FK_AvenidasXDirecciones_Avenidas]
GO
ALTER TABLE [AvenidasXCuadras]  WITH CHECK ADD  CONSTRAINT [FK_AvenidasXDirecciones_Direcciones] FOREIGN KEY([IdDireccion])
REFERENCES [Cuadras] ([Id])
GO
ALTER TABLE [AvenidasXCuadras] CHECK CONSTRAINT [FK_AvenidasXDirecciones_Direcciones]
GO
ALTER TABLE [Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Administradores] FOREIGN KEY([IdAdministrador])
REFERENCES [Administradores] ([Id])
GO
ALTER TABLE [Bitacora] CHECK CONSTRAINT [FK_Bitacora_Administradores]
GO
ALTER TABLE [Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Restaurantes] FOREIGN KEY([IdRestaurante])
REFERENCES [Restaurantes] ([Id])
GO
ALTER TABLE [Bitacora] CHECK CONSTRAINT [FK_Bitacora_Restaurantes]
GO
ALTER TABLE [CallesXCuadras]  WITH CHECK ADD  CONSTRAINT [FK_CallesXDirecciones_Calles] FOREIGN KEY([NombreCalle])
REFERENCES [Calles] ([Nombre])
GO
ALTER TABLE [CallesXCuadras] CHECK CONSTRAINT [FK_CallesXDirecciones_Calles]
GO
ALTER TABLE [CallesXCuadras]  WITH CHECK ADD  CONSTRAINT [FK_CallesXDirecciones_Direcciones] FOREIGN KEY([IdDireccion])
REFERENCES [Cuadras] ([Id])
GO
ALTER TABLE [CallesXCuadras] CHECK CONSTRAINT [FK_CallesXDirecciones_Direcciones]
GO
ALTER TABLE [Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [Clientes] ([Id])
GO
ALTER TABLE [Ordenes] CHECK CONSTRAINT [FK_Ordenes_Cliente]
GO
ALTER TABLE [OrdenesXPlatillos]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesXPlatillos_Ordenes] FOREIGN KEY([IdOrden])
REFERENCES [Ordenes] ([Id])
GO
ALTER TABLE [OrdenesXPlatillos] CHECK CONSTRAINT [FK_OrdenesXPlatillos_Ordenes]
GO
ALTER TABLE [OrdenesXPlatillos]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesXPlatillos_Platillos] FOREIGN KEY([IdPlatillo])
REFERENCES [Platillos] ([Id])
GO
ALTER TABLE [OrdenesXPlatillos] CHECK CONSTRAINT [FK_OrdenesXPlatillos_Platillos]
GO
ALTER TABLE [Platillos]  WITH CHECK ADD  CONSTRAINT [FK_Platillos_Restaurantes] FOREIGN KEY([IdRestaurante])
REFERENCES [Restaurantes] ([Id])
GO
ALTER TABLE [Platillos] CHECK CONSTRAINT [FK_Platillos_Restaurantes]
GO
ALTER TABLE [PlatillosXIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_PlatillosXIngredientes_Ingredientes] FOREIGN KEY([IdIngrediente])
REFERENCES [Ingredientes] ([Id])
GO
ALTER TABLE [PlatillosXIngredientes] CHECK CONSTRAINT [FK_PlatillosXIngredientes_Ingredientes]
GO
ALTER TABLE [PlatillosXIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_PlatillosXIngredientes_Platillos] FOREIGN KEY([IdPlatillo])
REFERENCES [Platillos] ([Id])
GO
ALTER TABLE [PlatillosXIngredientes] CHECK CONSTRAINT [FK_PlatillosXIngredientes_Platillos]
GO
ALTER TABLE [Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurantes_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [Categorias] ([Id])
GO
ALTER TABLE [Restaurantes] CHECK CONSTRAINT [FK_Restaurantes_Categorias]
GO
ALTER TABLE [Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurantes_Direcciones] FOREIGN KEY([IdDireccion])
REFERENCES [Cuadras] ([Id])
GO
ALTER TABLE [Restaurantes] CHECK CONSTRAINT [FK_Restaurantes_Direcciones]
GO
ALTER TABLE [RestaurantesXIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantesXIngredientes_Ingredientes] FOREIGN KEY([IdIngrediente])
REFERENCES [Ingredientes] ([Id])
GO
ALTER TABLE [RestaurantesXIngredientes] CHECK CONSTRAINT [FK_RestaurantesXIngredientes_Ingredientes]
GO
ALTER TABLE [RestaurantesXIngredientes]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantesXIngredientes_Restaurantes] FOREIGN KEY([IdRestaurante])
REFERENCES [Restaurantes] ([Id])
GO
ALTER TABLE [RestaurantesXIngredientes] CHECK CONSTRAINT [FK_RestaurantesXIngredientes_Restaurantes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_asociarIngredienteRestaurante]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdRestaurante int,--Restaurante al que se va a asociar el ingrediente
	@pIdIngrediente int,
	@pCantidad int
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN asociarIngrediente

	INSERT INTO RestaurantesXIngredientes VALUES (@pIdRestaurante, @@IDENTITY, @pCantidad)
	INSERT INTO Bitacora VALUES (GETDATE(), 'Ingrediente '+CONVERT(varchar,@pIdIngrediente)+' asociado.',@pIdUsuario,@pIdRestaurante)

	COMMIT TRAN asociarIngrediente
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_consultarCliente]
	@pIdCliente int--El resto son del cliente a modificar. 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT Id, Nombre, Apellido, Telefono, Cedula FROM Clientes WHERE Id=@pIdCliente and Activo = 1
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_consultarClientes]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT Id, Nombre, Apellido, Telefono, Cedula FROM Clientes WHERE Activo = 1
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_consultarIngredientes]
	@pIdRestaurante int=NULL --Opcional, si no se especifica lista todos los ingredientes
AS
BEGIN
	SET NOCOUNT ON;
	SELECT i.Id, i.Nombre, i.Precio, ri.Cantidad 
		FROM Ingredientes i, RestaurantesXIngredientes ri
		WHERE ri.IdRestaurante=ISNULL(@pIdRestaurante,ri.IdRestaurante)
				and ri.IdIngrediente=i.Id and i.Disponible = 1
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_crearPlatillos]
AS
	DECLARE cursorRestaurantes CURSOR FOR 
		SELECT Id
		FROM Restaurantes

	OPEN cursorRestaurantes
	DECLARE @idRestaurante int
	DECLARE @idPlatillo int
	DECLARE @idIngrediente int
	DECLARE @counter1 INT = 1
	DECLARE @counter2 INT = 1
	DECLARE @tablaIngredientes TABLE (Id int) 

	FETCH NEXT FROM cursorRestaurantes 
	INTO @idRestaurante

	WHILE @@FETCH_STATUS = 0
	BEGIN
		DELETE FROM @tablaIngredientes
		INSERT INTO @tablaIngredientes (Id)
		SELECT i.Id 
			FROM Ingredientes i, RestaurantesXIngredientes ri
			WHERE i.Id=ri.IdIngrediente and ri.IdRestaurante=@idRestaurante and i.Disponible=1

		WHILE @counter1 <= 5
		BEGIN
			INSERT INTO Platillos VALUES ('Platillo '+CONVERT(varchar, @counter1),GETDATE(),@idRestaurante,NULL)
			SET @idPlatillo = @@IDENTITY
			WHILE @counter2 <= 3
			BEGIN
				SET @idIngrediente = (SELECT TOP 1 Id FROM @tablaIngredientes
										ORDER BY NEWID())
				WHILE (EXISTS (select * from PlatillosXIngredientes WHERE IdPlatillo = @idPlatillo and IdIngrediente=@idIngrediente))
				BEGIN
					SET @idIngrediente = (SELECT TOP 1 Id FROM @tablaIngredientes
											ORDER BY NEWID())
				END
				INSERT INTO PlatillosXIngredientes VALUES (@idPlatillo, @idIngrediente)
				SET @counter2 = @counter2 + 1;
			END
			SET @counter2 = 1;
			SET @counter1 = @counter1 + 1;
		END
	
		SET @counter1 = 1
		FETCH NEXT FROM cursorRestaurantes 
		INTO @idRestaurante
	END 
	CLOSE cursorRestaurantes;
	DEALLOCATE cursorRestaurantes;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_distanciaRestaurantes]
					@pIdRestaurante1 int,
					@pIdRestaurante2 int
AS
	SELECT c1.Ubicacion.STDistance(c2.Ubicacion) as Distancia
	FROM Restaurantes r1, Restaurantes r2, Cuadras c1, Cuadras c2
	WHERE r1.Id = @pIdRestaurante1 and r2.Id=@pIdRestaurante2
			and c1.Id = r1.IdDireccion and c2.Id = r2.IdDireccion

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_eliminarAdministrador]
	@pIdUsuario int, --Este ID es del usuario administrador que REALIZA LA TRANSACCION
	@pIdAdministrador int--Este es el id del administrador por eliminar
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN eliminarAdmin

	UPDATE Administradores SET Activo = 0 WHERE id=@pIdAdministrador
	INSERT INTO Bitacora VALUES (GETDATE(), 'Administrador '+CONVERT(varchar,@pIdAdministrador)+' eliminado.',@pIdUsuario,NULL)

	COMMIT TRAN eliminarAdmin
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_eliminarCliente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdCliente int--El resto son del cliente a modificar. 
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN eliminarCliente

	UPDATE Clientes SET Activo=0 WHERE Id=@pIdCliente
	INSERT INTO Bitacora VALUES (GETDATE(), 'Cliente '+CONVERT(varchar, @pIdCliente)+' eliminado.',@pIdUsuario,NULL)

	COMMIT TRAN eliminarCliente
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_eliminarIngrediente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdIngrediente int--El resto son del cliente a modificar. 
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN eliminarIngrediente

	UPDATE Ingredientes SET Disponible=0 WHERE Id=@pIdIngrediente
	INSERT INTO Bitacora VALUES (GETDATE(), 'Ingrediente '+CONVERT(varchar, @pIdIngrediente)+' eliminado.',@pIdUsuario,NULL)

	COMMIT TRAN eliminarIngrediente
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_finalizarOrden]
	@pIdUsuario int, --Usuario que realiza la transaccion
	@pIdOrden int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN finalizarOrden

	DECLARE @SumaIngredientes int = 
		(SELECT sum(Parcial) 
		from (SELECT sum(i.Precio)*op.Cantidad AS Parcial 
				FROM OrdenesXPlatillos op, Platillos p, PlatillosXIngredientes pin, Ingredientes i
				WHERE op.IdOrden = 1 and op.IdPlatillo = p.id and pin.IdPlatillo = p.Id 
						and pin.IdIngrediente = i.Id
				GROUP BY op.IdPlatillo,op.Cantidad) as t)
	
	DECLARE @Total int --monto total
	DECLARE @Descuento int = (SELECT Descuento FROM Ordenes WHERE Id = @pIdOrden)
	
	IF (SELECT MetodoPago FROM Ordenes WHERE Id = @pIdOrden)='Efectivo'--Si paga con efectivo, ganancia es del 15%
		BEGIN
			SET @Total = @SumaIngredientes + (@SumaIngredientes*0.15)--calcular ganancia del 15%
		END
	ELSE--Si paga con tarjeta, ganancia es del 10%
		BEGIN
			SET @Total = @SumaIngredientes + (@SumaIngredientes*0.10)--calcular ganancia del 10%
		END
	IF @Descuento > 0 --Si hay descuento
		BEGIN
			SET @Total = @Total - (@Total * @Descuento)--aplicar Descuento
		END

	UPDATE Ordenes SET Total = @Total, Fecha = GETDATE() WHERE Id = @pIdOrden

	INSERT INTO Bitacora VALUES (GETDATE(), 'Orden '+CONVERT(varchar,@pIdUsuario)+' creada.',@pIdUsuario,NULL)


	COMMIT TRAN finalizarOrden
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_insertarAdministrador]
	@pIdUsuario int, --Este ID es del usuario administrador que REALIZA LA TRANSACCION
	@pNombre varchar(50),--El resto son del usuario a insertar. 
	@pApellido varchar(50),
	@pTelefono numeric(8,0),
	@pCedula numeric(9,0),
	@pContrasenna varchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN insertarAdmin

	INSERT INTO Administradores VALUES (@pNombre,@pApellido,@pTelefono,@pCedula,HASHBYTES ('SHA2_256', @pContrasenna),1)
	INSERT INTO Bitacora VALUES (GETDATE(), 'Administrador '+@pNombre+' '+@pApellido+' creado.',@pIdUsuario,NULL)

	COMMIT TRAN insertarAdmin
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_insertarCliente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pNombre varchar(50),--El resto son del usuario a insertar. 
	@pApellido varchar(50),
	@pTelefono numeric(8,0),
	@pCedula numeric(9,0),
	@pContrasenna varchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN insertarCliente

	INSERT INTO Clientes VALUES (@pNombre,@pApellido,@pTelefono,@pCedula,HASHBYTES ('SHA2_256', @pContrasenna),1)
	INSERT INTO Bitacora VALUES (GETDATE(), 'Cliente '+@pNombre+' '+@pApellido+' creado.',@pIdUsuario,NULL)

	COMMIT TRAN insertarCliente
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_insertarIngrediente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdRestaurante int,--Restaurante al que pertenece el ingrediente
	@pNombre varchar(50),--El resto son del ingrediente a insertar. 
	@pPrecio money,
	@pCantidad int
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN insertarIngrediente

	INSERT INTO Ingredientes VALUES (@pPrecio,@pNombre,1)
	INSERT INTO RestaurantesXIngredientes VALUES (@pIdRestaurante, @@IDENTITY, @pCantidad)
	INSERT INTO Bitacora VALUES (GETDATE(), 'Ingrediente '+@pNombre+' agregado.',@pIdUsuario,@pIdRestaurante)

	COMMIT TRAN insertarIngrediente
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_insertarOrden]
	@pMetodoPago varchar(50), --Tiene que ser "Efectivo" o "Tarjeta"
	@IdCliente int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN crearOrden

	DECLARE @TotalComprado int = (SELECT sum(Total) FROM Ordenes WHERE IdCliente = @IdCliente GROUP BY IdCliente)
	DECLARE @Descuento int = 0

	IF (@TotalComprado >= 20000 and @pMetodoPago = 'Efectivo')
	BEGIN
		SET @Descuento = 35
	END

	INSERT INTO Ordenes VALUES (@pMetodoPago, @Descuento, 0, @IdCliente)

	SELECT @@IDENTITY

	COMMIT TRAN crearOrden
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_insertarPlatoOrden]
	@pIdOrden int, 
	@pIdPlatillo int,
	@pCantidad int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN insertarPlatoOrden

	INSERT INTO OrdenesXPlatillos VALUES (@pIdOrden, @pIdPlatillo, @pCantidad)

	UPDATE RestaurantesXIngredientes 
		SET Cantidad = Cantidad - @pCantidad 
		FROM RestaurantesXIngredientes ri, Ingredientes i, PlatillosXIngredientes pin
		WHERE pin.IdPlatillo = @pIdPlatillo and pin.IdIngrediente = i.Id and ri.IdIngrediente = i.Id

	COMMIT TRAN insertarPlatoOrden
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_listarCallesRestaurante]
					@pIdRestaurante int
AS
	SELECT a.Nombre, c.Nombre, a.Ubicacion.STUnion(c.Ubicacion).STUnion(cu.Ubicacion) as Ubicacion
	FROM Cuadras cu, Avenidas a,Restaurantes r, Calles c
	WHERE r.IdDireccion=cu.Id and r.Id=@pIdRestaurante
			and cu.Ubicacion.STTouches(a.Ubicacion)=1
			and cu.Ubicacion.STTouches(c.Ubicacion)=1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_listarGanancias]
	@pIdRestaurante int,
	@pFecha date = NULL --Parametro Opcional
AS
BEGIN
	SET NOCOUNT ON;
	SELECT Nombre, sum(Parcial) as  Ganancia
	FROM 
		(SELECT DISTINCT r.Nombre, o.Total as Parcial
			FROM Ordenes o join OrdenesXPlatillos op 
					on o.Id=op.IdOrden join Platillos p 
					on op.IdPlatillo = p.Id join Restaurantes r 
					on p.IdRestaurante=r.Id
			WHERE  r.Id = @pIdRestaurante and o.Fecha = ISNULL(@pFecha, o.Fecha)) as t
	GROUP BY Nombre
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_modificarCantidadIngrediente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdIngrediente int,--Id del ingrediente.
	@pIdRestaurante int,--Restaurante al que pertenecera el ingrediente. 
	@pCantidad int
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN modificarCantidadIngrediente

	UPDATE RestaurantesXIngredientes 
		SET Cantidad=@pCantidad
		WHERE IdRestaurante=@pIdRestaurante and IdIngrediente=@pIdIngrediente
	
	INSERT INTO Bitacora VALUES (GETDATE(), 'Cantidad de ingrediente '+CONVERT(varchar, @pIdIngrediente)+' modificado.',@pIdUsuario,@pIdRestaurante)

	COMMIT TRAN modificarCantidadIngrediente
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_modificarCliente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdCliente int,--El resto son del cliente a modificar. 
	@pNombre varchar(50),
	@pApellido varchar(50),
	@pTelefono numeric(8,0),
	@pCedula numeric(9,0),
	@pContrasenna varchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN modificarCliente

	UPDATE Clientes 
	SET Nombre=@pNombre,Apellido=@pApellido,Telefono=@pTelefono,
		Cedula=@pCedula,Contrasenna=HASHBYTES ('SHA2_256', @pContrasenna)
	WHERE Id = @pIdCliente
	INSERT INTO Bitacora VALUES (GETDATE(), 'Cliente '+CONVERT(varchar, @pIdCliente)+' modificado.',@pIdUsuario,NULL)

	COMMIT TRAN modificarCliente
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_modificarIngrediente]
	@pIdUsuario int, --Este ID es del usuario que REALIZA LA TRANSACCION
	@pIdIngrediente int,--Id del ingrediente.
	@pIdRestaurante int,--Restaurante al que pertenecera el ingrediente. 
	@pNombre varchar(50), 
	@pPrecio money
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN modificarIngrediente

	DECLARE @antiguoRestaurante int = (select top 1 IdRestaurante from RestaurantesXIngredientes where IdIngrediente=@pIdIngrediente)

	UPDATE Ingredientes 
		SET Precio=@pPrecio, Nombre=@pNombre 
		WHERE Id = @pIdIngrediente
	UPDATE RestaurantesXIngredientes 
		SET IdRestaurante=@pIdRestaurante
		WHERE IdRestaurante=@antiguoRestaurante and IdIngrediente=@pIdIngrediente
	
	INSERT INTO Bitacora VALUES (GETDATE(), 'Ingrediente '+CONVERT(varchar, @pIdIngrediente)+' modificado.',@pIdUsuario,@pIdRestaurante)

	COMMIT TRAN modificarIngrediente
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_ubicacionRestaurante] 
					@pIdRestaurante int
AS
	SELECT R.Nombre, cu.Ubicacion.STUnion(a.Ubicacion).STUnion(c.Ubicacion) 
	FROM Cuadras cu, Avenidas a,Restaurantes r, Calles c
	WHERE r.IdDireccion=cu.Id and r.Id = @pIdRestaurante
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sp_ubicacionRestaurantes]
AS
	SELECT R.Nombre, cu.Ubicacion.STUnion(a.Ubicacion).STUnion(c.Ubicacion) 
	FROM Cuadras cu, Avenidas a,Restaurantes r, Calles c
	WHERE r.IdDireccion=cu.Id 
GO
USE [master]
GO
