<div class="table-responsive" ng-if="toShow=='restaurants'">
  <table  class="table">
      <th>Name</th>
      <th>Category</th>
      <th>Schedule</th>
      <th>Options</th>
      <tr ng-repeat="rest in restaurants">
        <td>{{ rest.name }}</td>
        <td>{{ rest.category }}</td>
        <td>{{ rest.schedule }}</td>
        <td>
          <button class="btn" type="button" ng-show="isAdmin" ng-click="newBilling(rest)">New Billing</button>
          <button class="btn" type="button" ng-click="viewMenu(rest)">View Menu</button>
          <button class="btn" type="button" ng-show="isAdmin" ng-click="viewInventory(rest)">View Inventory</button>
        </td>
      </tr>
  </table>
</div>

<div class="table-responsive" ng-if="toShow=='dish'">
  <table  class="table">
      <th>Name</th>
      <th>Options</th>
      <tr ng-repeat="dish in dishes">
        <td>
          {{dish.name}}
        </td>
        <td>
          <button class="btn" type="button" ng-click="viewIngredients(dish)">View Ingredients</button>
        </td>
      </tr>
  </table>
</div>

<div class="table-responsive" ng-if="toShow=='ingredient'">
  <table  class="table">
      <th>Image</th>
      <th>Name</th>
      <tr ng-repeat="ingredient in ingredients">
        <td>
          <img ng-src="{{ingredient.url}}"/>
        </td>
        <td>
          {{ingredient.name}}
        </td>
      </tr>
  </table>
</div>

<div class="table-responsive" ng-if="toShow=='inventory'">
  <table  class="table">
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Options</th>
      <tr ng-repeat="ingredient in ingredients">
        <td>
          <img ng-src="{{ingredient.url}}"/>
          <form class   =   "form-signin"
                id      =   "{{ingredient.id}}"
                enctype =   "multipart/form-data"
                action  =   "/api/photo"
                method  =   "post">
          <span class="btn btn-default btn-file">
              Browse <input class="form-control" type="file" name="userPhoto" id="{{'abc' + ingredient.id}}"  ng-model = "val" value="123"/>
          </span>
          </form>

        </td>
        <td>
          <input type="text" class="form-control" placeholder="Name" ng-model="ingredient.name" required autofocus>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="Price" ng-model="ingredient.price" required autofocus>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="Quantity" ng-model="ingredient.quantity" required autofocus>
        </td>
        <td>
          <button class="btn" type="button" ng-click="saveChange(ingredient)">Save changes</button>
          <button class="btn" type="button" ng-click="delete(ingredient)">Delete</button>
        </td>
      </tr>
  </table>
</div>


<div class="table-responsive" ng-if="toShow=='bill'">
  <h2 class="form-signin-heading">New Billing</h2>
  <h4 class="form-signin-heading">Pay Method:</h4>
  <select class="form-control" autofocus="0" ng-model="info.payMethod">
    <option value="Efectivo">Cash</option>
    <option value="Tarjeta">Card</option>
  </select>

  <h4 class="form-signin-heading">Client:</h4>
  <select class="form-control" autofocus="0" ng-model="info.idClient">
    <option ng-repeat="client in clients" value="{{client.dbid}}">{{client.name}}, {{client.lastName}}</option>
  </select>


  <h4 class="form-signin-heading">Dishes:</h4>
  <table  class="table">
      <th>Name</th>
      <th>Quantity</th>
      <tr ng-repeat="dish in dishes">
        <td>
          {{dish.name}}
        </td>
        <td>
          <label >{{dish.quantity}}</label>
          <button type="button" ng-click="inc(dish)">+</button>
          <button type="button" ng-click="dec(dish)">-</button>
        </td>
      </tr>
  </table>
  <button class="btn" type="button" ng-click="bill()">Bill</button>
</div>
